<div class='carddetailPage'>
  <div class="container">
      <div class="mx-auto w-75" style="margin: 150px;">
        <p class="text-center">STARTボタンを押して</br>
                                マスターに質問を開始してください</p>
   <script type="text/javascript">
       var work_time = 300;
       var state = "work";
       var timer;
               
       function timer_start(){
           document.getElementById("current_time").innerText = work_time+" 秒";
           timer = setInterval(time_count,1000);
           document.getElementById("start").style.display = "none";
           document.getElementById("stop").style.display = "inline";
           document.getElementById("target").style.display = "inline";
       }

       function timer_stop(){
           clearInterval(timer);
           var str = document.getElementById("stop");
           str.style.display = "none";
           var str = document.getElementById("start");
           str.style.display = "inline";
           str.value = "Restart";
           document.getElementById("end_time").value = work_time;
           answer_box();
       }

       function time_count(){
           work_time--;
           document.getElementById("current_time").innerText = work_time +" 秒";
                      document.getElementById( "timeNokori" ).value = work_time ;

           if(work_time <= 0) {
               clearInterval(timer);
               if(state == "work"){
                   alert("終了です。回答ページに移動してください");
               }
               answer_box();
           }
           var str = document.getElementById("stop");
           str.style.display = "inline";
       }

       function answer_box(){
           var str = document.getElementById("target");
           str.style.display = "inline";
       }
       
   </script>

   
   <style type="text/css">
        #container{width: 250px; margin: 30px auto; border: 1px solid #CCC; text-align: center; padding: 10px;}
        #current_time{font-size: 36px; }
        input[type="button"]{ width: 80px;}
    </style>

    <div id="container">
        <div id="current_time">5 min</div>
        <form action="">
            <input id="start" type="button" value="START" onClick="timer_start();" /><br />
            <input id="stop" style="display: none;" type="button" value="STOP" onClick="timer_stop(); answer_box()" />
        </form>
    </div>

<div class="form-main" id="target" style="display: none"> 
  <div class="form-input text-center">
    <%= form_for(@theme, url: fase01updateTime_room_theme_path, html: { class: 'cardeditForm' }, local: true) do |f| %>
      <% if @theme.errors.any? %>
        <p class="text-danger">なにかトラブルです</p>
      <% end %>

      <div class="cardeditForm_title">
          <div class="mx-auto" style="width:100px;">
            <%= f.hidden_field :Fase01Time, autofocus: true, class: "form-control timeNokori", id: "timeNokori" %>
          </div>       
      </div>
      <div class="text-center"><%= f.submit "次へ", class: "submitBtn" %></div>
    <% end %>
  </div>
</div> 