body{
  font-family: 'メイリオ', Meiryo,'Wawati SC','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
  background: #c83360;	
  height: 100%;
}

.bg-main{
	background: #c83360;
	color: #242424;
	padding:0;
}

.bg-other{
	background: #242424;
	color: #fff;
	padding:0;
}
/* #242424 : #c83360 */